.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.mainTop {
  display: flex;
  height: 900px;
  box-sizing: border-box;
  background-color: var(--blackBrown);
  padding: 200px 80px 50px 80px;
}
.intro {
  display: flex;
  width: 1440px;
  gap: 40px;
  box-sizing: border-box;
  margin: 0 auto;
}
.font {
  flex: 6;
}
.text {
  margin-top: 10px;
  margin-bottom: 20px;
}
.text2 {
  margin-left: 20px;
}
.pic {
  flex: 4;
}

.logo {
  margin-left: 0.2em;
}
.pic {
  overflow: hidden;
}
.mainPic {
  width: 95%;
  height: auto;
  border: 5px solid var(--beige);
  border-radius: 12px;
  transition: transform 0.6s ease;
}
.pic:hover .mainPic {
  transform: scale(0.97); /* 이미지를 1.2배 확대 */
}

.characters {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.circlePic {
  width: 8%;
  height: auto;
  border-radius: 50px;
}
.row {
  display: flex;
  flex-direction: row;
}
.bookBtn {
  width: 70%;
  margin-top: 80px;

  height: auto;
}
.circleArrow {
  width: 45%;
  height: auto;
  padding-right: 40px;
  position: relative;
  animation: moveLeftRight 3s infinite;
}

@keyframes moveLeftRight {
  0% {
    left: 0;
  }
  50% {
    left: -30px;
  }
  100% {
    left: 0;
  }
}

.solution {
  display: flex;
  flex-direction: column;
  background-color: var(--whiteBeige);
  padding-top: 125px;
  padding: 0 100px 130px 100px;
}
.mfont {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding-top: 100px;
  padding-bottom: 80px;
}
.mfontMiddle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding-top: 100px;
  box-sizing: border-box;
  padding-bottom: 70px;
}

.mfontMiddle .item2 {
  flex: 3.5;
}

.mfontMiddle .item1 {
  flex: 6.5;
}

.boxWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 100px;
  border-bottom: 0.1rem solid var(--darkgrey);
  justify-content: space-between;
}
.box2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 100px;
  padding-bottom: 100px;
  justify-content: space-between;
}

.box > div {
  flex: 1 1 45%; /* Basis 45% with flex grow and shrink */
  margin: 10px; /* Margin for spacing between boxes */
}
.box2 > div {
  flex: 1 1 45%; /* Basis 45% with flex grow and shrink */
  margin: 10px; /* Margin for spacing between boxes */
}

.vedioPost {
  width: 100%;
  display: flex;
  gap: 20px;
}

.vedioPost .column {
  flex: 3.5;
  border-radius: 20px;
}

.vedioPost .item1 {
  flex: 6.5;
}

.vedioImg {
  width: 100%;
  border-radius: 15px;
  border: 5px solid var(--blackBrown);
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 2;
  width: 100%;
  height: 100%;
  background-color: var(--blackBrown);
}
.dash {
  width: 70%;
  border: 1px solid var(--beige);
  margin: 30px 0;
}
.count {
  font-size: 2rem;
  color: var(--brightGreen);
}

.projects {
  display: flex;
  width: 100vw;
  height: 850px;
  flex-direction: column;
  background-color: var(--blackBrown);
  padding-top: 80px;
  padding-bottom: 50px;
}
.slidefont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slideWrapper {
  width: 93%;
}

.process {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fffff5;
}

.processbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  font-weight: 700;
  padding: 0 100px;
  padding-top: 100px;
  gap: 70px;
  box-sizing: border-box;
}
.dashs {
  width: 100%;
  padding: 0 100px;
  border: 0.05rem solid rgb(232, 230, 230);
}
.processbox .item3 {
  flex: 5.5;
  height: 450px;
}
.protitle {
  margin-bottom: 20px;
}
.item4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Pbox {
  display: flex;
  flex-direction: column;
  width: 540px;
  font-size: 32px;
  padding: 24px;
  background: white;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid var(--blackBrown);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Pbox.active {
  background-color: var(--brightGreen);
}

.down {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
  padding: 0;
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.content.expanded {
  max-height: 500px; /* 충분히 큰 값으로 설정 */
  padding: 10px 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.reviewTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding-top: 100px;
  padding-bottom: 80px;
}

.marquee {
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: var(--blackBrown);
  position: relative;
  color: var(--brightGreen);
  font-size: 38px;
  font-weight: 700;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee_content {
  display: flex;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo {
  animation: rotate 2s linear infinite;
  margin: 0 0.5em; /* 로고 주변의 공백 조정 */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rowBox {
  display: flex;
  flex-direction: row;
  padding: 0 100px;
}
.colBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team {
  width: 90%;
  border-radius: 20px;
  border: 4px solid var(--blackBrown);
}
.teamName {
  font-weight: 800;
  font-size: 30px;
}
